/* Text-level semantics
 */
 a {
    background-color: transparent;
    text-decoration: none;
    color: var(--primary); }
    a:hover, a:active {
      color: var(--primary); }
    a:not([href]):not([tabindex]) {
      color: inherit;
      text-decoration: none; }
    a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
      color: inherit;
      text-decoration: none; }
    a:not([href]):not([tabindex]):focus {
      outline: 0; }

button,
[type="submit"],
[type="button"] {
  display: inline-block;
  font-weight: 400;
  color: var(--primary);
  text-align: center;
  white-space: nowrap;
  user-select: none;
  background-color: transparent;
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 3px;
  transition: all .3s; }
  button:focus,
  [type="submit"]:focus,
  [type="button"]:focus {
    outline: 5px auto -webkit-focus-ring-color; }
  button:hover, button:focus,
  [type="submit"]:hover,
  [type="submit"]:focus,
  [type="button"]:hover,
  [type="button"]:focus {
    color: #ffffff;
    background-color: var(--primary);
    text-decoration: none; }
  button:not(:disabled),
  [type="submit"]:not(:disabled),
  [type="button"]:not(:disabled) {
    cursor: pointer; }
  button:disabled {
    border-color: var(--secondary);
    color: var(--secondary);
  }
  button:hover:disabled, button:focus:disabled,
  [type="submit"]:hover:disabled,
  [type="submit"]:focus:disabled,
  [type="button"]:hover:disabled,
  [type="button"]:focus:disabled {
    color: var(--secondary);
    background-color: unset; }

input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
select,
textarea {
  width: 100%;
  border: solid 1px var(--primary);
  border-radius: 3px;
  padding: 0.5rem 1rem;
  transition: all .3s; }
  input[type="text"]:focus,
  input[type="date"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  select:focus,
  textarea:focus {
    outline-color: var(--primary);
    border-color: var(--primary); }

/**
 * Basic responsive layout
 */
@media (min-width: 576px) {
  .site-header .header-inner, .site-header:not(.dynamic-header), .site-footer .footer-inner, .site-footer:not(.dynamic-footer), body:not([class*="elementor-page-"]) .site-main, .page-header .entry-title {
    max-width: 500px; }
  }

@media (min-width: 768px) {
  .site-header .header-inner, .site-header:not(.dynamic-header), .site-footer .footer-inner, .site-footer:not(.dynamic-footer), body:not([class*="elementor-page-"]) .site-main, .page-header .entry-title {
    max-width: 600px; }
  }

@media (min-width: 992px) {
  .site-header .header-inner, .site-header:not(.dynamic-header), .site-footer .footer-inner, .site-footer:not(.dynamic-footer), body:not([class*="elementor-page-"]) .site-main, .page-header .entry-title {
    max-width: 800px; }
  }

@media (min-width: 1200px) {
  .site-header .header-inner, .site-header:not(.dynamic-header), .site-footer .footer-inner, .site-footer:not(.dynamic-footer), body:not([class*="elementor-page-"]) .site-main, .page-header .entry-title {
    max-width: 1140px; }
  }

@media (min-width: 1380px) {
  .site-header .header-inner, .site-header:not(.dynamic-header), .site-footer .footer-inner, .site-footer:not(.dynamic-footer), body:not([class*="elementor-page-"]) .site-main, .page-header .entry-title {
    max-width: 1320px; }
  }
  